<?xml version="1.0"?>
<model>
  <name>tomato_vine_repo</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author><name>upstream repo assets</name><email>none@none.com</email></author>
  <description>2.5m tilted cherry-tomato vine, 4 trusses (red/red/half/green bottom-up), leaf+blossom head on top. Geometry/UV/textures 100% from author assets (tomato1.blend truss, tomato.dae leaf/blossom, AG15 scans).</description>
</model>
